############################################
# .NET / ASP.NET Core
############################################
bin/
obj/
out/

############################################
# Visual Studio
############################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
